body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid #eee;
    font-size: 16px;
    text-align: left;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

#cabecera {
    background-color: #3333aa;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    -webkit-box-shadow: 0px 6px 34px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 34px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 34px -4px rgba(0, 0, 0, 0.75);
}

#post {
    padding: 1em;
    letter-spacing: 1px;
}

#post p {
    color: gray;
}

#date {
    color: #cccccc;
    font-size: 10px;
}